body {
  margin: 10px;
  font-family: sans-serif;
  font-size: 1em;
}

.content {
  width: 800px;
  margin: 0px auto;
  position: relative;
}

#cadastro {
  position: absolute;
  top: 100px;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid grey;
  border-radius: 10px;
}

legend {
  font-size: 25px;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
}

p {
  margin-bottom: 15px;
}

label {
  color: #405c60;
  position: relative;
}

input:not([type='checkbox']) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;
}

button.nova-cor {
  background-color: #8ac0ca;
  border-color: #8ac0ca;
  width: 50%;
  cursor: pointer;
  color: #fff;
}

.senha {
  display: inline-block;
  margin: 0;
}
